name: Terraform Deploy

on:
  push:
    branches:
      - main  # Altere para a branch que deseja monitorar

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  # Substitua para sua regi찾o

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Initialize Terraform
        run:  |
          cd infra                   # Mude para o diret처rio correto
          terraform init
      - name: Plan Terraform
        id: plan
        run: |
          cd infra                   # Mude para o diret처rio correto
          terraform plan -out=tfplan

      - name: Apply Terraform
        if: github.ref == 'refs/heads/main'
        run: |
          cd infra                    # Mude para o diret처rio correto
          terraform apply -auto-approve tfplan